/* Coolors Exported Palette - coolors.co/065143-129490-70b77e-ffb73d-af3f3f */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Rozha+One');


/* RGB */
$dark: rgba(6, 81, 67, 1);
$primary: rgba(18, 148, 144, 1);
$accent1: rgba(112, 183, 126, 1);
$accent2: rgba(255, 183, 61, 1);
$accent3: rgba(175, 63, 63, 1);
$textDark: rgba(25, 46, 47, 1);
$textLight: rgba(255, 251, 245, 1);

/* FONTS */
$displayFont: 'Rozha One', serif;
$bodyFont: 'Lato', sans-serif;
$bold: 700;
$light: 300;
$regular: 400;
